extends partials/layout

block content
    div.loader
        div.spinner
            div.double-bounce1
            div.double-bounce2

    include pageelements/header

    div.main-container
        header.page-header.resume-header
            div.background-image-holder.parallax-background
                img.background-image(src="images/hero8.jpg", alt="Background Image")

            div.container
                div.row
                    div.col-sm-12
                        h1.text-white.space-bottom-medium Fazemos WebSites
                        span Sites institucionais, blogs, landing pages, hot pages...pode escolher

        a#sobre.in-page-link

        section.duplicatable-content.milestones
            div.container
                div.row
                    div.col-md-offset-2.col-sm-10.col-sm-offset-1.text-center.col-md-8
                        h1 Por que nos escolher?
                        p.lead Dedicamos anos aperfeiçoando nossas habilidades para entregar sites bonitos, funcionais, efetivos e responsivos. Tudo isso de forma bem rápida!

                div.row
                    div.col-md-3.col-sm-6.text-center
                        div.feature.feature-icon-large
                            i.icon.icon-strategy.icon-large
                            div.pin-body
                            div.pin-head
                            h5 Design
                            span Trabalhamos somente com sites que impressionam
                            span.sub

                    div.col-md-3.col-sm-6.text-center
                        div.feature.feature-icon-large
                            i.icon.icon-profile-male.icon-large
                            div.pin-body
                            div.pin-head
                            h5 Experiência de Usuário
                            span Seus clientes e visitantes devem querer ficar no seu site
                            span.sub

                    div.col-md-3.col-sm-6.text-center
                        div.feature.feature-icon-large
                            i.icon.icon-circle-compass.icon-large
                            div.pin-body
                            div.pin-head
                            h5 Detalhes
                            span Pensamos em tudo para que você não tenha que se preocupar
                            span.sub

                    div.col-md-3.col-sm-6.text-center
                        div.feature.feature-icon-large
                            i.icon.icon-expand.icon-large
                            div.pin-body
                            div.pin-head
                            h5 Flexibilidade
                            span Nossos sites funcionam em qualquer tamanho de tela
                            span.sub


        a#portfolio.in-page-link

        section.no-pad-bottom.projects-gallery
            div.container
                div.row
                    div.col-md-offset-3.col-sm-8.col-sm-offset-2.text-center.col-md-6
                        h1 Nossos últimos projetos
                        p.lead Tivemos a oportunidade de trabalhar com excelentes empresas e ONGs. Veja alguns de nossos trabalhos

            div.projects-wrapper.clearfix
                div.container
                    div.row
                        ul.filters
                            li.active(data-filter="*") tudo
                            li(data-filter=".development") desenvolvimento
                            li(data-filter=".consult") consultoria
                            li(data-filter=".design") design

                div.projects-container
                    div.col-md-6.col-sm-12.no-pad.project.development.image-holder
                        div.background-image-holder
                            img.background-image(src="images/project1.jpg", alt="Background Image")
                        div.hover-state
                            div.align-vertical
                                h1.text-white <strong>MS10</strong> User Experience
                                p.text-white fj açsldkfj açlskfja çlkjfds <br> ds jfasçldk jfaçlk jfdaçslkj fçkl
                                a.btn.btn-primary.btn-white(href="#") Ver projeto

                    div.col-md-6.col-sm-12.no-pad.project.development.image-holder
                        div.background-image-holder
                            img.background-image(src="images/project2.jpg", alt="Background Image")
                        div.hover-state
                            div.align-vertical
                                h1.text-white <strong>MS10</strong> User Experience
                                p.text-white fj açsldkfj açlskfja çlkjfds <br> ds jfasçldk jfaçlk jfdaçslkj fçkl
                                a.btn.btn-primary.btn-white(href="#") Ver projeto

                    div.col-md-4.col-sm-6.no-pad.project.design.image-holder
                        div.background-image-holder
                            img.background-image(src="images/project3.jpg", alt="Background Image")
                        div.hover-state
                            div.align-vertical
                                h1.text-white <strong>MS10</strong> User Experience
                                p.text-white fj açsldkfj açlskfja çlkjfds <br> ds jfasçldk jfaçlk jfdaçslkj fçkl
                                a.btn.btn-primary.btn-white(href="#") Ver projeto

                    div.col-md-4.col-sm-6.no-pad.project.design.image-holder
                        div.background-image-holder
                            img.background-image(src="images/project4.jpg", alt="Background Image")
                        div.hover-state
                            div.align-vertical
                                h1.text-white <strong>MS10</strong> User Experience
                                p.text-white fj açsldkfj açlskfja çlkjfds <br> ds jfasçldk jfaçlk jfdaçslkj fçkl
                                a.btn.btn-primary.btn-white(href="#") Ver projeto

                    div.col-md-4.col-sm-6.no-pad.project.design.image-holder
                        div.background-image-holder
                            img.background-image(src="images/project5.jpg", alt="Background Image")
                        div.hover-state
                            div.align-vertical
                                h1.text-white <strong>MS10</strong> User Experience
                                p.text-white fj açsldkfj açlskfja çlkjfds <br> ds jfasçldk jfaçlk jfdaçslkj fçkl
                                a.btn.btn-primary.btn-white(href="#") Ver projeto


        section.strip.bg-primary
            div.container
                div.row.clearfix
                    form.mail-list-signup
                        div.col-sm-9.col-xs-12.pull-left.clear-fix
                            h3.text-white.pull-left <span>Saiba tudo sobre WebSites:&nbsp;</span>
                            input.signup-email-field.validate-required.validate-email(type="text", placeholder="Adicione seu e-mail aqui")

                        div.col-sm-3.col-xs12.pull-right.text-right
                            input.btn.btn-primary.btn-filled(type="submit", value="Inscrever")

        a#orcamento.in-page-link

        section.pure-text-centered
            div.container
                div.row
                    div.col-sm-12.col-md-12.text-center
                        span.sub.alt-font Calculadora
                        h1: strong Escolha seu WebSite
                        div.row
                            div.col-md-8
                                div.row.calc-buttons
                                    h5 Tipo de WebSite
                                    br
                                    div.btn-group(style="border: border-bottom-right-radius:0;border-bottom-left-radius:0;")
                                        a.btn.btn-primary.active(style="border-bottom-left-radius:0;", title="Site Institucional", data-price="2.000")
                                            i.icon.icon-presentation.icon-large
                                            br
                                            |  Institucional
                                        a.btn.btn-primary(title="Blog", data-price="1.500")
                                            i.icon.icon-pencil.icon-large 
                                            br
                                            |  Blog
                                        a.btn.btn-primary(title="Landing Page", data-price="1000")
                                            i.icon.icon-map.icon-large
                                            br
                                            |  Landing Page
                                        a.btn.btn-primary(style="border-bottom-right-radius:0;", title="Hotsite", data-price="900")
                                            i.icon.icon-megaphone.icon-large
                                            br
                                            |  Hotsite
                                            
                                    div.btn-group.btn-calc-bottom
                                        a.btn.btn-primary(style="border-top-left-radius:0;", title="Ebook Landing", data-price="1000")
                                            i.icon.icon-pictures.icon-large
                                            br
                                            |  Ebook Landing
                                        a.btn.btn-primary(title="Ecommerce", data-price="4.000")
                                            i.icon.icon-wallet.icon-large
                                            br
                                            |  Ecommerce
                                        a.btn.btn-primary(title="Portfolio", data-price="800")
                                            i.icon.icon-profile-male.icon-large
                                            br
                                            |  Portfolio
                                        a.btn.btn-primary(style="border-top-right-radius:0;", title="Sistemas", data-price="-")
                                            i.icon.icon-gears.icon-large
                                            br
                                            |  Sistemas

                            dic.col-md-4
                                div.row.calc-head
                                    h4 Total: R$
                                        span 500,00
                                    
                                div.row.calc-body
                                    table.table.table-striped.table-calc
                                        thead
                                            tr
                                                th Serviço
                                                th Preço (R$)
                                        tbody.t-body
                                            
                                        tfooter
                                            tr
                                                th Total:
                                                th R$ 2.000,00
                                            

        a#contato.in-page-link

        section.contact-center
            div.container
                div.row
                    div.col-md-offset-3.col-sm-8.col-sm-offset-2.text-center.col-md-6
                        h1 Contato
                        p.lead Ficaremos muito felizes com sua mensagem. Fique à vontade para entrar em contato a qualquer momento. Responderemos rapidamente suas dúvidas.

                div.row
                    div.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
                        div.form-wrapper.clearfix
                            form.form-contact.email-form
                                div.inputs-wrapper
                                    input.form-name.validate-required(type="text", placeholder="Nome", name="name")
                                    input.form-email.validate-required(type="text", placeholder="Email", name="email")
                                    textarea.form-message.validate-required(name="message", placeholder="Mensagem")

                                input.send-form(type="submit", value="Enviar")
                                div.form-success
                                    span.text-white Mensagem enviada - Obrigado!
                                div.form-error
                                    span.text-white Por favor complete os campos acima

        a#faq.in-page-link

        section.accordion-section
            div.container
                div.row
                    div.col-sm-5.align-vertical.no-align-mobile.col-md-4
                        ul.icons-large
                            li
                                i.icon.icon-tools-2.icon-large
                            li
                                i.icon.icon-lightbulb.icon-large
                            li
                                i.icon.icon-scissors.icon-large

                        h1.no-margin-bottom Perguntas Frequentes

                    div.col-sm-7.col-md-4
                        ul.accordion
                            li.active
                                div.title
                                    span Quero outro tipo de site que não está previsto no orçamento
                                div.text
                                    p: span Infelizmente no presente momento estamos apenas aceitando os tipos previstos em nosso sistema de orçamentos automático.

                            li
                                div.title
                                    span Posso negociar o valor do orçamento?
                                div.text
                                    p: span Os valores de nossos orçamentos são calculados de acordo com vários fatores como tempo de trabalho, dificuldade, práticas do mercado, etc.&nbsp;
                                    p: span Contudo, enviamos cupons de desconto para alguns casos especiais. Caso queira saber mais as condições, nos envie uma mensagem que termos prazer em explicar melhor.

                            li
                                div.title
                                    span Posso usar meu próprio Design?
                                div.text
                                    p: span Com certeza! Contudo, pedimos que nos envie primeiramente para analisarmos e conferirmos se está de acordo com as melhores práticas de mercado para seu negócio
                                    p: span Colocamos o design como aspecto fundamental de nosso processo de desenvolvimento pois muitas vezes é ele que irá destacar positivamente seu produto final.

                            li
                                div.title
                                    span Como realizam a hospedagem?
                                div.text
                                    p: span Todos os sites hospedados por nós são colocados em um VPS (Virtual Private Server) com IP dedicado. Isto é, ele não compartilha recursos computacionais com nenhum outro.
                                    p: span Como administramos nossos servidores, aumentamos suas capacidades de acordo com a necessidade e aumento de tráfego. Isso tudo para que você nunca tenha um site fora do ar ou lento.
                            

                    div.hidden-sm.align-vertical.no-align-movile.col-md-4
                        div.feature
                            h5 Amazinr faj
                            p fasldkj lçasjd

                        div.feature
                            h5 Amazinr faj
                            p fasldkj lçasjd

    include pageelements/footer	