doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
html.no-js(lang="pt_BR") <!--<![endif]-->
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel='stylesheet', href='/stylesheets/flexslider.min.css', type="text/css", media="all")
    link(rel='stylesheet', href='/stylesheets/line-icons.min.css', type="text/css", media="all")
    link(rel='stylesheet', href='/stylesheets/elegant-icons.min.css', type="text/css", media="all")
    link(rel='stylesheet', href='/stylesheets/lightbox.min.css', type="text/css", media="all")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css', type="text/css", media="all")
    link(rel='stylesheet', href='/stylesheets/theme-rocklobster.css', type="text/css", media="all")
    link(rel='stylesheet', href='/stylesheets/style.css', type="text/css", media="all")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700', type="text/css")
    script(src="javascripts/modernizr-2.6.2-respond-1.1.0.min.js")

  body
    block content


    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/jquery.plugin.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/jquery.flexslider-min.js")
    script(src="/javascripts/smooth-scroll.min.js")
    script(src="/javascripts/skrollr.min.js")
    script(src="/javascripts/spectragram.min.js")
    script(src="/javascripts/scrollReveal.min.js")
    script(src="/javascripts/isotope.min.js")
    script(src="/javascripts/twitterFetcher_v10_min.js")
    script(src="/javascripts/lightbox.min.js")
    script(src="/javascripts/jquery.countdown.min.js")
    script(src="/javascripts/scripts.js")