div.footer-container
    footer.short.bg-secondary-1
        div.container
            div.row
                div.col-sm-10
                    span.sub © Copright 2014 Bonsaits
                    ul
                        li 
                            a(href="#") Termos de Uso
                        li
                            a(href="#") Blog

                div.col-sm-2.text-right
                    ul.social-icons
                        li
                            a(href="#")
                                i.icon.social_twitter
                        li
                            a(href="#")
                                i.icon.social_facebook


script.
    var $zoho= $zoho || {salesiq:{values:{},ready:function(){}}};var d=document;s=d.createElement("script");s.type="text/javascript";s.defer=true;s.src="https://salesiq.zoho.com/bosaits/float.ls?embedname=bosaits";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);